<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p	%d{ISO8601}	%X{trace}	%t	%c	%m%n"/>
		</layout>
	</appender>
  <logger name="ning.job">
    <level value="debug"/>
  </logger>
  <logger name="com.sun.jersey">
    <level value="debug"/>
  </logger>
  <logger name="org.hornetq">
    <level value="debug"/>
  </logger>
  <logger name="org.mortbay">
    <level value="info"/>
  </logger>
  <logger name="org.apache.commons.httpclient">
    <level value="warn"/>
  </logger>
  <logger name="ning.lighthouse.client.HttpClientHostStore">
    <level value="error"/>
  </logger>
  <root>
  	<priority value="info"/>
  	<appender-ref ref="stdout"/>
  </root>
</log4j:configuration>
